# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
*.class
**/out
overlays/

# Mac
.DS_Store

# Maven
**/target
**/*.log
**/*.tmp
**/*.class
**/.idea/

07-DesignPattern-Notes/code/target/
06-Concurrency-Notes/code/.idea/
