<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.ericchen.study.mybatis.UserMapper">
    <resultMap id="userWithDeptQueryMap" type="vip.ericchen.study.mybatis.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"></id>
<!--        <result column="name" property="name" jdbcType="VARCHAR" typeHandler="vip.ericchen.study.mybatis.typehandler.MyTypeHandler"/>-->
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
    </resultMap>
    <select id="selectUserWithDept" resultType="vip.ericchen.study.mybatis.entity.User">
    select * from User where id = #{id}
  </select>

<!--    <select id="selectUser" resultType="vip.ericchen.study.mybatis.entity.User">-->
<!--    select * from User where id = #{id}-->
<!--  </select>-->


    <!-- 测试typeHandler-->
<!--    <select id="selectUser" resultMap="userWithDeptQueryMap">-->
<!--    select * from User where id = #{id}-->
<!--  </select>-->
    <!-- 测试typeHandler-->
</mapper>