<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="customer" class="cn.eccto.study.springframework.tutorials.propertyeditor.XmlUserCustomEditorExample.Customer">
        <property name="customerName" value="Steve Thomas"/>
        <property name="phone" value="cell | 907-111-2123"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="cn.eccto.study.springframework.tutorials.propertyeditor.XmlUserCustomEditorExample$Phone"
                       value="cn.eccto.study.springframework.tutorials.propertyeditor.XmlUserCustomEditorExample$CustomPhoneEditor"/>
            </map>
        </property>
    </bean>
</beans>